# Logs
logs
*.log
npm-debug.log*
gulpUtil.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Distributable
dist

# Lighthouse
scrum.cards_*.html
test.scrum.cards_*.html

#IntelliJ
.idea/
app/app.iml

#generated SW
app/service-worker.js
dist/service-worker.js

#generated css
app/css/style.css
MFBOT/
