# Logs
logs
*.log
npm-debug.log*
gulpUtil.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Distributable
dist
scrum.cards_*.html
test.scrum.cards_*.html
.idea/
app/app.iml
