# Logs
logs
*.log
npm-debug.log*
gulpUtil.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Distributable
dist

# Credentials
credentials.txt

# Editor configs
.idea
